<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aspernatur sed accusantium non tempora nemo vero eaque, illo facilis earum atque ipsum est quisquam numquam doloribus minima. Consectetur, nemo debitis.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope">email@email.com</i></li>
                <li><i class="fa-solid fa-phone">(99) 9999-9999</i></li>
                <li><i class="fa-brands fa-whatsapp">(99) 9999-9999</i></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todo os direitos resservados
    </section>
</footer>